.tfs1{
    position:fixed;
    top:0;
    background-color:rgb(207, 177, 3);
    font-weight: 200;
   }

   .cum2{
    height: 200px;
    width: 200px;
    margin: 0 0 0 97px;
    border-radius: 50%;
    text-align:center;
 }

 ul{
    text-align: right;
    display:flex;
    list-style:none;
    float:right;
    margin: -29px 24px 0 0;
  }
  
  li{
    color:rgba(10, 10, 10, 0.801);
    padding: 10px;
  }

  .bot{
    z-index: -1;
    margin: 70px 0 0 0;
   }

   .cum4{
    text-align:center ;
    margin: -25px 0 0 200px;
    font-weight:700;
   }
