.col{
    color:black;
}
h3{
    text-align: center;
 } 
  /* .tope{
    height: 70px;
    width: 70px;
    margin: 15px 0 0 100px;
    border-radius: 50%;
    text-align: center;
 } */

.cum1{
    height: 30px;
    width: 30px;
    margin:0 0 0 0;
    border-radius: 50%;
    text-align: center;
 }

.carousel_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
  img{
    border-radius: 50%;
    text-align: center;
  }

  ul{
    text-align: right;
    display:flex;
    list-style:none;
    float:right;
    margin: -29px 24px 0 0;
  }
  
  li{
    color:rgba(10, 10, 10, 0.801);
    padding: 10px;
  }

  .cum2{
    height: 200px;
    width: 200px;
    margin: 0 0 0 97px;
    border-radius: 50%;
    text-align:center;
 }
 
 .cum3{
  
  margin: 0 0 0 600px;
 }

 .aclass{
  display:flex;
  gap: 1.5rem;
  justify-content: center;
 }

 .cum4{
  text-align:center ;
  margin: -25px 0 0 100px;
  font-weight:700;
 }

 .cum5{
  margin: -27px 0 0 420px;
font-weight:800;
text-align:center;
 }

 .cum6{
  margin: -27px 0 0 420px;
font-weight:800;
text-align:center;
 }

  /* #banner{
  background-image: url("imag/background.png");
  background-repeat:no repeat;
  background-size:100%;
  height:100px;
  margin: 700px;
 } */

 .tfs1{
  position:fixed;
  top:0;
  background-color:rgb(207, 177, 3);
  font-weight: 200;
 }

 .bot{
  z-index: -1;
  margin: 70px 0 0 0;
 }

 html{
  scroll-behavior: smooth;
 }

 
 


 




 
 


 

 
 

 
  



